[submodule "Documents/Exercicios/Documents/Exercicios/Mauropythonbotafogo"]
	path = Documents/Exercicios/Documents/Exercicios/Mauropythonbotafogo
	url = https://github.com/majunior2/Mauropythonbotafogo.git
